.form {
    width: 90%;
    margin: 120px auto 0;

    &-container {
        .section-title {
            @include section-title;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        & > label {
            margin-bottom: 16px;
        }

        .need {
            background-color: $cYellow;
            padding: 4px 12px;
            color: white;
            font-size: 12px;
            margin-right: 16px;
        }

        .any {
            background-color: $cGray;
            padding: 4px 12px;
            font-size: 12px;
            margin-right: 16px;
        }

        & > input,
        & > textarea {
            border: 1px solid rgba(0,0,0,0.4);
            padding: 22px 0 22px 10px;
            width: 100%;
        }
    }

    // 撮影プランのラジオボタンの設定
    &-item__plan {
        color: white;
        margin-bottom: 20px;
        border-radius: 30px;

        // 既存のラジオボタンを非表示
        & > input[type=radio] {
            display: none;
        }

        & > label {
            position: relative;
            display: block;
            padding: 14px 0 14px 20px;
            top: 50%;
            left: 20%;
            width: 170px;
        }

        // ラジオボタンを表現
        & > label::before,
        & > label::after {
            position: absolute;
            content: "";
            display: inline-block;
            border: 1px solid;
            border-radius: 50%;
        }

        & > label::before {
            top: 50%;
            left: -50px;
            transform: translateY(-40%);
            width: 14px;
            height: 14px;
            background-color: white;
        }

        & > label::after {
            top: 50%;
            left: -48px;
            transform: translateY(-40%);
            width: 10px;
            height: 10px;
            background-color:$cBlack;
            opacity: 0;
        }

        // チェック時にafterのopacityを1にする
        & > input[type=radio]:checked + label::after {
            opacity: 1;
        }

        // 各ボタンの背景色　ホバー時に背景色を表示
        &:nth-child(1) {
            @include formPlanBtn;
        }
        &:nth-child(1):hover {
            background-color: $cBlue;
        }
        
        &:nth-child(2) {
            @include formPlanBtn;
        }
        &:nth-child(2):hover {
            background-color: $cPink;
        }

        &:nth-child(3) {
            @include formPlanBtn;
        }
        &:nth-child(3):hover {
            background-color: $cGreen;
        }
    }

    button {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
        transition: all 0.3s;

        input {
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
            padding: 20px 100px;
        }
    }

    button::after {
        position: absolute;
        top: 50%;
        right: 15%;
        content:"";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-top: 1px solid white;
        border-right: 1px solid white;
        transform: translateY(-50%) rotate(45deg);
    }

    button:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}