.header {
    .sp-nav-inner {
        &__lists {
            margin: 120px 20px 40px 80px;
        }

        &__bottom {
            margin: 20px 20px 20px 80px;
        }
        &__back {
            text-decoration: underline;
            color: $cBlack;
            font-size: 14px;
        }
    }
}


