.header {
    position: relative;
    .sp-nav {
        display: none;
    }

    .pc-nav {
        position: fixed;
        top: 5%;
        right: 0;
        display: block;
        z-index: 9999;
        background-color: white;
    }

    .pc-nav-container {
        width: 700px;
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    .pc-nav-lists {
        display: flex;
        font-size: 14px;
        
    }

    .pc-nav-list {
        line-height: 60px;
        transition: all 0.3s;
        text-align: center;
        margin-right: 80px;

        a {
            text-align: center;
        }

        & a:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .pc-nav-list:last-child {
        margin: 0;
    }   
    
    .pc-nav-list span {
        position: relative;
    }
    .pc-nav-list span::before { 
        position: absolute;
        top: 50%;
        right: -50px;
        content: '';
        display: inline-block;
        width: 13px;
        height: 1px;
        background-color: $cBlack;
    }
    .pc-nav-list span::after { 
        position: absolute;
        top: 50%;
        right: -50px;
        content: '';
        display: inline-block;
        width: 13px;
        height: 1px;
        background-color: $cBlack;
        transform: rotate(90deg);
        transition: all 0.3s;
    }

    .pc-nav-plan-items {
        display: flex;
        flex-direction: column;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }
    
    .pc-nav-plan-item {
        background-color: white;
        transition: all 0.3s;
        width: 180px;
        a {
            text-align: center;
        }
        a:hover {
            opacity: 0.8;
        }
    }

    .pc-nav-plan-items.menu-open {
        opacity: 1;
        height: auto;
        overflow: visible;
    }

    .pc-nav-list span.menu-open::after {
        transform: rotate(0deg);
    }   
}