.selfIntro {
    max-width: 800px;
    margin-top: 240px;

    &-inner__top {
        width: 60%;
    }
    
    &-inner__top .mePic {
        width: 200px;
        height: 200px;
    }

    &-inner__top .place {
        font-size: 20px;
    }

    &-inner__bottom {
        width: 90%;
    }

    &-inner__bottom-text {
        font-size: 18px;
    }
}