.planDetail {
    margin-top: 160px;

    &-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 160px;
    }

    .plan02,
    .plan03 {
        margin-top: 160px;
    }

    &-num {
        font-size: 20px;
        text-align: center;

        span.blue {
            font-size: 40px;
            margin-left: 8px;
            color: $cBlue;
        }
        span.pink {
            font-size: 40px;
            margin-left: 8px;
            color: $cPink;
        }
        span.green {
            font-size: 40px;
            margin-left: 8px;
            color: $cGreen;
        }
    }

    &-title {
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        color: $cBlack;

        &__sub {
            font-size: 14px;
            font-weight: bold;
        }

        &__main {
            font-size: 20px;
            font-weight: bold;
        }

        &__main span {
            font-size: 32px;
        }
        &__main span.blue {
            color: $cBlue;
        }
        &__main span.pink {
            color: $cPink;
        }
        &__main span.green {
            color: $cGreen;
        }
    }

    &-text {
        font-size: 14px;
        color: $cBlack;
        margin: 40px 0;
    }

    &-photo-small {
        display: flex;
        overflow: scroll;
        justify-content: space-between;

        .imgSmall {
            width: 220px;
            max-width: 220px;
            height: 220px;
        }
    }

    .imgBig {
        width: 100%;
        max-width: 440px;
        height: 440px;
        object-fit: cover;
    }

    &-step {
        .imgStep {
            height: auto;
            width: 100%;
        }
    }

    .scroll {
        font-size: 14px;
        color: $cBlack;
        text-align: right;

        &::after {
            content: "→";
            color: $cBlack;
            margin-left: 8px;
        }
    }
}