.plan {
    width: 90%;
    max-width: 1024px;

    &-items {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 140px;
        width: 290px;
    }

    &-item::after {
        top: -2%;
        height: 104%;
    }

    &-item__left {
        z-index: 1;
        margin: 0;

        span.icon-color {
            font-size: 40px;
            margin-left: 5px;
        }
        span.couple-color {
            font-size: 40px;
            margin-left: 5px;
        }
        span.wedding-color {
            font-size: 40px;
            margin-left: 5px;
        }
    }

    &-item__right {
        z-index: 1;
        text-align: center;
    }
}